<!DOCTYPE HTML>
<html>
<head>
<title>待機中</title>
  <style>
    #screen {
  margin :32px auto;
  width: 780px;
  height: 580px;
  border: solid 1px #888;
  background-color: #f0f0f0;
  user-select: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.card {
  width: 180px;
  height: 180px;
  background-color: white;
}
.card p {
  margin: 0;
  font-size: 120px;
  line-height: 180px;
  text-align: center;
}
  </style>
</head>
<body>
<div id="screen">
  <div id="card" class="card"></div>
</div>
<script>
  window.onload = () => {
  const max = 12;
  const numbers = [];
  let count = 0;//追加
  for(let i = 0; i < max; i++){
    numbers[i] = i;
  }
  for(let i = 0; i < 30; i++){
    const j = Math.random() * max | 0;
    const k = Math.random() * max | 0;
    if(j == k) continue;
    let temp = numbers[j];
    numbers[j] = numbers[k];
    numbers[k] = temp; 
  }

  const screen = document.getElementById("screen");
  for(let i = 0; i < max; i++){
    const elm = document.createElement('div');
    elm.className = "card";
    elm.id = numbers[i];
    elm.addEventListener('pointerdown', function(){
      if(count != this.id)return;//追加
      count++;//追加
      this.style.backgroundColor = "black";  
    }, false);
    screen.appendChild(elm);
    const p = document.createElement('p');
    p.innerText = numbers[i];
    elm.appendChild(p);
  }
}
</script>
</body>
</html>
